html, body {
  height: 100%;
}
body {
  background: url('./image/main_bg.jpeg') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  margin: 0;
} 
.main {
  display: flex;
  height: 100%;
  margin: 0;
}
.progress_bar {
  display: none;
}
.progress_bar._download {
  height: 3px;
  position: absolute;
  top: 0;
  width: 100%;
}
.progress_bar._upload {
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 16px;
  z-index: 20;
}
.progress_wrapper {
  background: #e6f3f9;
  border-radius: 10px;
  color: #5B9BA2;
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 200px;
}
.bar {
  background: #364076;
  border-radius: 10px;
  height: 100%;
  transition: width 0.18s ease-in-out;
  width: 0%;
}
.persent_indicator {
  background: white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 40px;
  color: #5B9BA2;
  font-weight: bold; 
  margin: 0;
  padding: 12px 0;
  text-align: center;
  width: 40px;
}
.menu {
  background: #685b8347;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 400px;
  padding: 40px 20px;
  width: 25%;
}
.forms {
  align-items: center;
  background: #406d837d;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 40px;
  justify-content: space-around;
  padding: 15px;
  width: 350px;
}
.list_wrapper {
  background: #406d837d;
  border-radius: 8px;
  box-sizing: border-box;
  height: 400px;
  padding: 40px 20px;
  width: 350px;
}
.uploadForm, .downloadForm {
  width: 90%;
}
.form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.input_file {
  display: none;
}
.input_file_wrapper {
  background: #e6f3f9;
  border-radius: 10px;
  color: #5B9BA2;
  display: inline-block;
  height: 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.file_name:hover::after {
  background: #e6f3f98c;
  border-radius: 0 2px 0 0;
  box-sizing: content-box;
  content: attr(data-title); 
  font-weight: normal;
  height: 20px;
  left: 0px; bottom: 0%;
  line-height: 20px;
  max-width: 400px;
  position: fixed; 
  z-index: 30; 
}

.input_file_wrapper label {
  cursor: pointer;
  display: block;
  font-size: 14px;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.file_name {
  font-weight: bold; 
  line-height: 40px;
  padding: 0 4px;
}
.btn_submit_wrapper {
  background: url('./image/upload.svg') no-repeat;
  background-size: 100%;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  position: relative;
  overflow: hidden;
  width: 40px;
}
.btn_submit_wrapper label {
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}
.btn_submit_wrapper._download {
  background: url('./image/download.svg') no-repeat;
  background-size: 100%;
}
.submit_btn {
  display: none;
}

.input_text {
  background-color: #e6f3f9;
  border: none;
  color: #5B9BA2;
  font-weight: bold; 
  font-family: inherit;
  height: 100%;
  outline: 0;
  width: 90%;
}

.input_file_wrapper:hover, .btn_submit_wrapper:hover{
  box-shadow: 0px 0px 32px -3px rgba(11, 68, 112, 0.47);
}
.main_content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 75%;
}
.picture_wrapper {
  background: #000;
  border-radius: 10px;
  max-width: 400px;
}

